.menu__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.menu__item {
  text-decoration: none;
  color: black;
}

.menu__item:hover {
  color: white;
}