<section>
  <mat-icon aria-hidden="true" fontIcon="movie"></mat-icon>
  <h1>Filmes</h1>
</section>

<form>
  <mat-form-field>
    <mat-label>Qual filme está procurando?</mat-label>
    <input matInput type="search" [(ngModel)]="termoBusca" name="termoBusca" (keyup)="exibirFilmes()">
  </mat-form-field>
</form>

<table mat-table [dataSource]="filmesAPI.results">
  <ng-container matColumnDef="episodio">
    <th mat-header-cell *matHeaderCellDef>Episódio</th>
    <td mat-cell *matCellDef="let filmes">{{filmes.episode_id}}</td>
  </ng-container>

  <ng-container matColumnDef="titulo">
    <th mat-header-cell *matHeaderCellDef>Título</th>
    <td mat-cell *matCellDef="let filmes">{{filmes.title}}</td>
  </ng-container>

  <ng-container matColumnDef="data_estreia">
    <th mat-header-cell *matHeaderCellDef>Data de Estreia</th>
    <td mat-cell *matCellDef="let filmes">{{formatarData(filmes.release_date)}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

@if(exibirSpinner) {
  <mat-spinner></mat-spinner>
} 