<nav class="menu__home">
  <img class="menu__background" ngSrc="/../assets/home-background.jpg" fill priority>
  <ul class="menu__home__lista">
    <li class="item__filmes">
      <a routerLink="/filmes" title="Acessar lista de filmes">
        <img class="logo" src="../assets/star-wars-home.png" alt="Logo Star Wars">
      </a>
    </li>
    <li class="item__naves">
      <a routerLink="/naves" title="Acessar lista de naves">
        <div class="efeito__chiado--hover"></div>
        <img class="estrela-morte" src="../assets/death-star.png" alt="Estrela da Morte">
      </a>
    </li>
  </ul>
</nav>
