mat-form-field {
  font-family: var(--font-family-secundaria);
}

mat-card, table, mat-paginator {
  background-color: transparent;
}

th, td {
  padding: 0;
}

th.tabela__titulo {
  padding-left: 1rem;
}

tr.tabela__linhas__dados td {
  padding-left: 1rem;
  border-bottom-width: 0;
  letter-spacing: .06rem;
}

tr.tabela__linhas__dados:active {
  background: var(--shadow-color-clara);
}

tr.tabela__linha__detalhes {
  height: 0;
  padding: 0;
}

.section__linha__detalhes {
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10rem;
  background-color: #161f35;
}

.detalhes__nave {
  margin: 2rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: .8rem;
  list-style-type: circle;
  letter-spacing: .06rem;
}

.detalhes__nave li span {
  padding: 1rem;
}

button {
  border: none;
  background-color: transparent;
  color: var(--font-color-principal);
  padding-right: 1rem;
}
