<app-header></app-header>

<app-titulo
  [iconeSrc]="'../assets/icon-millennium.png'"
  [iconeAlt]="'Ícone nave Millennium Falcon'"
  [titulo]="'Naves Estelares'"
>
</app-titulo>

<form class="formulario__busca">
  <mat-form-field appearance="outline">
    <mat-label>Qual nave está procurando?</mat-label>
    <input matInput type="search" [(ngModel)]="termoBusca" name="termoBusca" (keyup)="exibirNaves()">
  </mat-form-field>
</form>

@if(exibirSpinner) {
  <div class="spinner">
    <mat-spinner color="accent"></mat-spinner>
  </div>
}

@if(!exibirSpinner) {
  <mat-card appearance="raised">
    <table mat-table [dataSource]="navesAPI.results" multiTemplateDataRows class="mat-elevation-z8">
      @for(coluna of colunas; track coluna) {
        <ng-container matColumnDef="{{coluna}}">
          <th class="tabela__titulo" mat-header-cell *matHeaderCellDef>{{alterarTituloExibido(coluna)}}</th>
          <td mat-cell *matCellDef="let naves">{{naves[coluna]}}</td>
        </ng-container>
      }
  
      <ng-container matColumnDef="expandir">
        <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
        <td mat-cell *matCellDef="let naves">
          <button mat-icon-button (click)="(naveCompleta = naveCompleta === naves ? null : naves); $event.stopPropagation()">
            @if(naveCompleta === naves) {
              <mat-icon>keyboard_arrow_up</mat-icon>
            } @else {
              <mat-icon>keyboard_arrow_down</mat-icon>
            }
          </button>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="detalhesNave">
        <td mat-cell *matCellDef="let naves" [attr.colspan]="colunasCompletas.length">
          <section [@detailExpand]="naves == naveCompleta ? 'expanded' : 'collapsed'" class="section__linha__detalhes">
            <ul class="detalhes__nave">
              <li>Custo <span>>>></span> {{naves.cost_in_credits}}</li>
              <li>Comprimento <span>>>></span> {{naves.length}}</li>
              <li>Velocidade <span>>>></span> {{naves.max_atmosphering_speed}}</li>
              <li>Tripulação <span>>>></span> {{naves.crew}}</li>
              <li>Passageiros <span>>>></span> {{naves.passengers}}</li>
            </ul>
            <ul class="detalhes__nave">
              <li>Capacidade de carga <span>>>></span> {{naves.cargo_capacity}}</li>
              <li>Consumíveis <span>>>></span> {{naves.consumables}}</li>
              <li>Classificação de Hyperdrive <span>>>></span> {{naves.hyperdrive_rating}}</li>
              <li>MGLT <span>>>></span> {{naves.MGLT}}</li>
              <li>Classe da Nave <span>>>></span> {{naves.starship_class}}</li>
            </ul>
          </section>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="colunasCompletas"></tr>
      <tr mat-row *matRowDef="let naves; columns: colunasCompletas;"
        class="tabela__linha__principal tabela__linhas__dados"
        [class.tabela__linha__principal]="naveCompleta === naves"
        (click)="naveCompleta = naveCompleta === naves ? null : naves"></tr>
      <tr mat-row *matRowDef="let row; columns: ['detalhesNave']" class="tabela__linha__detalhes"></tr>
  
    </table>
  
    <mat-paginator 
      (page)="mudarPagina($event)"
      [length]="totalDeNaves"
      [pageSize]="10"
      [pageIndex]="paginaIndex"
      showFirstLastButtons>
    </mat-paginator>

  </mat-card>
}